.milk{
	color:white;
	border-color: blue;
	font-size:25vw ;
	font-family:sans-serif;
	font-style: bolder;
	position: fixed;
	line-height: 30vw;
	right: -3vw;
	transition: all .5s ease-in-out;
}

.milk:hover{
color: #1924f2;
background-color: white;
}
#menu {width: 30%;
	
color: #black;
font-family: arial;
font-size: 3vw;
padding: .4vw;

}



#borderneeded
{margin: 1vw;
	border: solid 2px black;
text-align: center;
transition: all 0.3s ease-in-out;}

#borderneeded:hover{
background-color: #1924f2;
}

#draggable{
	background-color: #1924f2;
	color: white;
	border: solid 2px black;
	text-align: center;
	font-size:2vw;
	font-family: arial;
	line-height: 3vw;
	width: 30vw;
	position: absolute;
	transition: all 0.1s ease-in-out;

}
#draggable:hover{
	background-color: white;
	color:#1924f2;
	font-style: bold;


}

a{text-decoration:none;
color:black;}


.item {
	display: inline-block;
	background-color: black;
	height: 60px;

}

.item-sm {
	width: 2px;
	margin-right: .2px;
}

.item-md {
	width: 3px;
	margin-right: .2px;
}

.item-lg {
	width: 5px;
	margin-right: .2px;
}

