.newwindow{
	position: fixed;
	left: 20vw;
	top: 15vh;
	margin: 0;
	padding: 0;
	display: none;
}

.imgtext{
	text-align: center;
	color: black;
	background-color: white;
	padding: 0;
	font-size: 2vw;
	bottom: 0;
	position: fixed;
	font-style: bold;
	height: 2vw;
	z-index: +19999999999;
	top: 79vh;
	left: 40vw;
	display: none;
}

#firsttext{
	left: 42vw;
}
#secondtext{
	left: 34vw;
}
#thirdtext{
	left: 37vw;
}
#fourthtext{
	left: 45vw;
}
#fifthtext{
	left: 47vw;
}
#seventhtext{
	left: 31.5vw;
}
#eighthtext{
	left: 36vw;
}


.imgtext:hover{
	text-decoration: underline;
	font-style: italic;
	color: blue;
}

.interfaceimg{
	width:50vw;
	border: solid black 0.5vw;
	padding: 0;
	height: auto;
	top: 15vw;
	left: 25vw;
	position: fixed;
	display: none;
}

#interface{
	z-index: +1000;
	color:white;
	background-color: white;
	border: solid black 0.5vw;
	width:60vw;
	height: 70vh;
	position: fixed;
	padding: 0;
}

#topborder{
	z-index: +10990;
	width:60vw;
	height: 5vh;
	position: absolute;
	background-color: white;
	border-bottom: solid black 0.5vw;

}
#close{
	z-index: +109900;
	text-align: center;
	font-size: 2vw;
	padding: 0;
	right: 0;
	position: absolute;
	align-items: right;
	width:5vh;
	height: 5vh;
	color: red;
	background-color: white;
	border-bottom: solid black 0.5vw;
	border-left: solid black 0.5vw;
}

#close:hover{
	background-color: red;
	color: white;
}

.milk{
	color:white;
	border-color: blue;
	font-size:25vw ;
	font-family:sans-serif;
	font-style: bolder;
	position: fixed;
	line-height: 30vw;
	right: -3vw;
	top: -1vw;
	transition: all .5s ease-in-out;
}

.milk:hover{
color: #1924f2;
background-color: white;
}
#menu {width: 30%;
	
color: #black;
font-family: arial;
font-size: 3vw;
padding: .4vw;

}



.borderneeded
{margin: 1vw;
	border: solid 2px black;
text-align: center;
transition: all 0.3s ease-in-out;}

.borderneeded:hover{
background-color: #1924f2;
}

#borderneeded
{margin: 1vw;
	border: solid 2px black;
text-align: center;
transition: all 0.3s ease-in-out;}

#borderneeded:hover{
background-color: #1924f2;
}

#draggable{
	background-color: #1924f2;
	color: white;
	border: solid 2px black;
	text-align: center;
	font-size:2vw;
	font-family: arial;
	line-height: 3vw;
	width: 30vw;
	position: absolute;
	transition: all 0.1s ease-in-out;

}
#draggable:hover{
	background-color: white;
	color:#1924f2;
	font-style: bold;


}

a{text-decoration:none;
color:black;}


.item {
	display: inline-block;
	background-color: black;
	height: 60px;

}

.item-sm {
	width: 2px;
	margin-right: .2px;
}

.item-md {
	width: 3px;
	margin-right: .2px;
}

.item-lg {
	width: 5px;
	margin-right: .2px;
}

