
@font-face {
    font-family:"NeueDisplay-Random";
    src:url("NeueDisplay-Random.woff2") format("woff2"),url("NeueDisplay-Random.woff") format("woff"),url("NeueDisplay-Random.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        